*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
}

.container {
  min-width: 40rem;
  width: 55rem;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 20rem;
  background-image: url("./img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -4.5%;
}

header > a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-container i {
  color: #9ca3af;
  font-size: 1.6rem;
  margin-right: -3.2rem;
  z-index: 0;
}

.input-container input {
  padding: 1rem 17.6rem 1rem 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #d1d5db;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.input-container button {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: inherit;
  line-height: 20px;
  color: #374151;
  padding: 1rem 3.4rem;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50rem;
}

.movies-container {
  text-align: center;
}

.movies-container i {
  font-size: 7rem;
  color: #dfdddd;
}

.movies-container p {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 20px;
  color: #dfdddd;
}
